@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@property --scrollthumb {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

* {
  transition: --scrollthumb 200ms;
}

*:hover {
  --scrollthumb: #585858;
}
/*
*  STYLE 4
 */

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  --scrollthumbaux: #888888;
  background: var(--scrollthumb);
  transition: all 500ms;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* *:hover::-webkit-scrollbar-thumb {
  background-color: #585858;
} */

.stroke {
  border: #333333 1px solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  @apply font-semibold;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

input[type='text'] {
  background: transparent;
}

.img-content {
  overflow: hidden;
  position: relative;
  flex: none;
}

.img-content > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
